html {
	height: 100%; overflow:auto;
	scroll-behavior: smooth;
	margin :0;
	padding : 0;
}

body {
	height: 100%;
	margin :0;
	padding : 0;
	background: #FDFDFD;
}

canvas{
	display: inherit;
}

h1 {
	display : inline-block;
	color : #444F59;
	font-family: MarrSans;
	text-align: center;
	border-style : solid;
	border-width: medium;
	border-color : #FD999A;
	padding : 10px;
}

h2{
	font-family: MarrSans;
	color : white;
}
button{
	cursor: pointer;
}

p {
	font-family: MarrSans;
	color : #444F59;
	text-align: center;
	vertical-align: middle;
}

select option{
	color : white;
}

img.start {
	width : 50px;
	height : 100px;
	background: #FDFDFD

}
.playimg {
	width : 90%;
	height : 75%;

}

img.map {
	padding : 2em;
}

button.start{
	border :none;
	background: #FDFDFD;
}

button.start:hover img{

}


button.play{
	border :none;
	background: #FD999A;
}



div.playlist{
	position :relative;
	display : flex;
	flex-grow : 1;
	justify-content: center;
	width: 33%;
}
div.info_insights{
	display : flex;
	flex-grow : 1;
	justify-content: center;
	width: 33%;
	height: 100%
}

.center{
	position: relative;
	display : flex;
	justify-content: center;
	transition-duration: 5s;
	transition-property: left;

}
div.space{
	background-color: white;
	height : 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;

}
div.buttonbar{
	display : flex;
	flex-direction: row;
	justify-content: center;
	background-color: #FD999A;
	height : 10%;
	margin: none;
}
div.home{
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;

}
div.viz{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

div.charts{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
}

div ul {
	background: #FD999A;
	visibility: hidden;
	position : absolute;
	top : 0;
	transition-duration : .5s;
	transition-property: top;
	list-style: none;
}
ul li{
	margin-left: -40px;
	background: #FEC8C9;
	border-style: solid;
	border-width: thin;
	border-color: #3E4149;
	color: #444F59;
	display: flex;
	padding : 2px;
	display: inline-block;


}
.charts div{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.open {
	visibility : visible;
	background: #FD999A;
	position: absolute;
	top: -100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition-duration : .5s;
	transition-property: top;
}

.moreinfos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	height: 86%;
}

li button{
	display: block;
	background: #FEC8C9;
	border :none;
	cursor: pointer;

}

.infomap{
	transition-duration: 5s;
	transition-property: left;
	left: -28%;
}

.hidden{
	display: none !important;
}


.line_chart_age_genre{
	height: 100%;
	width: 50%;
}
#chartscontainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 90%;
	border-left : 15px solid #FDFDFD;
}
.nomapcharts{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.genre_selector{
	width: 160px;
	height: 100px;

}









.modes_ecoute_legend{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 2vw;
}
.modes_ecoute_legend > div {
	height: 5%;
}


.checkbox_label_modes_ecoute {
	display: block;
	position: relative;
	padding-left: 35px;
	padding-bottom: 10px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 15px;
	font-family: 'MarrSans', Helvetica, arial, serif;
	font-weight: 400;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_label_modes_ecoute input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 23px;
	width: 23px;
	border-radius: 5px;
	box-sizing: border-box;
	border: 2px solid;
}

/* On mouse-over, add a grey background color */
.checkbox_label_modes_ecoute:hover input ~ .checkmark {
	background-color: #ddd;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.checkbox_label_modes_ecoute input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.checkbox_label_modes_ecoute .checkmark:after {
	left: 36%;
	top: 20%;
	width: 20%;
	height: 40%;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}




/* genresage */

.modes_genresage_legend{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 2vw;
}

.checkbox_label_genresage {
	display: block;
	position: relative;
	padding-left: 35px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	cursor: pointer;
	font-size: 14px;
	font-family: 'MarrSans', Helvetica, arial, serif;
	font-weight: 400;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox_label_genresage input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark_genresage {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	box-sizing: border-box;
	border: 2px solid;
}

.checkmark_genresage:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox_label_genresage:hover input ~ .checkmark_genresage {
	background-color: #ddd;
}

.checkbox_label_genresage input:checked ~ .checkmark_genresage:after {
	display: block;
}

.checkbox_label_genresage .checkmark_genresage:after {
	left: 32%;
	top: 18%;
	width: 20%;
	height: 40%;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* decouverte */

.modes_decouverte_legend{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 3vw;
}

.checkbox_label_decouverte {
	display: block;
	position: relative;
	padding-left: 35px;
	padding-bottom: 10px;
	margin-bottom: 5px;
	cursor: pointer;
	font-size: 14px;
	font-family: 'MarrSans', Helvetica, arial, serif;
	font-weight: 400;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox_label_decouverte input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark_decouverte {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: 5px;
	box-sizing: border-box;
	border: 2px solid;
}

.checkmark_decouverte:after {
	content: "";
	position: absolute;
	display: none;
}

.checkbox_label_decouverte:hover input ~ .checkmark_decouverte {
	background-color: #ddd;
}

.checkbox_label_decouverte input:checked ~ .checkmark_decouverte:after {
	display: block;
}

.checkbox_label_decouverte .checkmark_decouverte:after {
	left: 32%;
	top: 18%;
	width: 20%;
	height: 40%;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}



@font-face {
	font-family: "MarrSans";
	src:
			url("visuals/fonts/MarrSans-Regular-Web.woff2") format("woff2"),
			url("visuals/fonts/MarrSans-Semibold-Web.woff2") format("woff2"),
			url("visuals/fonts/MarrSans-Medium-Web.woff2") format("woff2");
}