html { 
height: 100%; overflow:auto; 
scroll-behavior: smooth;
margin :0;
padding : 0;
}

body { 
height: 100%;
margin :0;
padding : 0; 
background: #FDFDFD;
}

canvas{
	display: inherit;
}

h1 { 
  display : inline-block;
  color : #444F59;
  font-family: MarrSans;
  text-align: center;
  border-style : solid;
  border-width: medium;
  border-color : #FD999A;
  padding : 10px;
}

h2{
	font-family: MarrSans;
	color : white;
}
button{
	cursor: pointer;
}

p {
  font-family: MarrSans;
  color : #444F59;
  text-align: center;
  vertical-align: middle;
}

select option{
	color : white;
}

img.start {
	width : 50px;
	height : 100px;
	background: #FDFDFD

}
.playimg {
	width : 90%;
	height : 75%;

}

img.map {
	padding : 2em;
}

button.start{
	border :none;
	background: #FDFDFD;
}

button.start:hover img{
	
}


button.play{
	border :none;
	background: #FD999A;
}



div.playlist{
	position :relative;
	display : flex;
	flex-grow : 1;
	justify-content: center;
	width: 33%;
}
div.info_insights{
	display : flex;
	flex-grow : 1;
	justify-content: center;
	width: 33%;
	height: 100%
}

.center{
	position: relative;
	display : flex;
	justify-content: center;	
	transition-duration: 5s;
	transition-property: left;

}
div.space{
	background-color: white;
	height : 100%;
	display: flex;
	align-items: flex-end;
	justify-content: center;

}
div.buttonbar{
	display : flex;
	flex-direction: row;
	justify-content: center;
	background-color: #FD999A;
	height : 10%;
	margin: none;
}
div.home{
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;	
	height: 100%;

}
div.viz{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

div.charts{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
}

div ul {
	background: #FD999A;
	visibility: hidden;
	position : absolute;
	top : 0;
	transition-duration : .5s;
	transition-property: top;
	list-style: none;
}
ul li{
	margin-left: -40px;
	background: #FEC8C9;
	border-style: solid;
	border-width: thin;
	border-color: #3E4149;
	color: #444F59;
	display: flex;
	padding : 2px;
	display: inline-block;
	

}
.charts div{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.open {
	visibility : visible;
	background: #FD999A;
	position: absolute;
	top: -100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition-duration : .5s;
	transition-property: top;
}

.moreinfos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	height: 86%;
}

li button{
	display: block;
	background: #FEC8C9;
	border :none;
	cursor: pointer;

}

.infomap{
	transition-duration: 5s;
	transition-property: left;
	left: -28%;
}

.hidden{
	display: none !important;
}


.line_chart_age_genre{
    height: 650px;
    width: 650px;
}
#chartscontainer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 90%;
	border-left : 15px solid #FDFDFD;
}
.nomapcharts{
	height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.genre_selector{
	width: 160px;
	height: 100px;

}








@font-face {
    font-family: "MarrSans";
    src:
            url("visuals/fonts/MarrSans-Regular-Web.woff2") format("woff2"),
            url("visuals/fonts/MarrSans-Semibold-Web.woff2") format("woff2"),
            url("visuals/fonts/MarrSans-Medium-Web.woff2") format("woff2");
}
