# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\WinHome\Save\Telecom\3A_SciencesPo_Telecom\MIN302\MusiqueEnFrance\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
